body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.triage {
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.triage.T1 {
    background-color: #e9322d;
}

.triage.T2 {
    background-color: #f5e810;
}

.triage.T3 {
    background-color: #62c462;
}

.container {
    width: 1280px;
}

.ex-header {
    margin-left: 10px;
}

.input-icon {
    position: absolute;
    pointer-events: none;
}

.timeinput {
    width: 84px !important;
}

.timefix {
    padding-bottom: 9px;
    padding-top: 9px;
    -webkit-padding-start: 58px;
    -webkit-padding-end: 58px;
    -moz-margin-start: -26px;
    -moz-margin-end: -26px;
}

.latlonfix {
    padding-bottom: 9px;
    padding-top: 9px;
    right: 0px;
    -webkit-padding-start: 40px;
    -webkit-padding-end: 40px;
    -moz-padding-start: 50px;
    -moz-padding-end: 50px;
}