.ng-table .hoverrow:hover {
    background-color: #D2E0E6;
}

.ng-table .rowselected {
    background-color: rgba(0, 50, 108, 0.3);
}

.ng-table .centered {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}