<div class="margintop10">
    <table data-ng-table="tableParams" template-pagination="masterPatientDirectiveTablePager" show-filter="true" class="table ng-table-responsive">
        <tbody>
            <tr data-ng-repeat="alertRequest in $data"
                class="hoverrow ng-class:{'rowselected': alertRequest.id === selectedAlertRequest.id};"
                data-ng-click="setSelected(alertRequest)"
                ng-mouseenter="hovering = true"
                ng-mouseleave="hovering = false">
                <td class="centered time" data-title="'Time'" sortable="'time'">
                    {{alertRequest.time | date:'HH:mm'}}
                </td>
                <td class='requests' data-title="'Request'">
                    {{alertRequest.abbrevRequests}}
                </td>
                <!-- height set so that there will be no height changes when the button is added 
                    (only works as long as the button still fits and wont overflow to the next line 
                -->
                <td class='alerts' data-title="'Alert'" sortable="'alert'" filter='{"alert": "text"}'  style="height: 39px;">
                    {{alertRequest.alert}}
                    <button type='button' 
                            class='btn btn-xs btn-link pull-right'
                            ng-show="hovering && editing"
                            ng-click="removeAlertRequest($index)">
                        <span class="glyphicon glyphicon-remove-circle"></span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>    
</div>