<div class="margintop10">
    <table data-ng-table="tableParams" template-pagination="masterPatientDirectiveTablePager" show-filter="true" class="table ng-table-responsive">
        <tbody>
            <tr data-ng-repeat="alertRequest in $data" class="hoverrow ng-class:{'rowselected': alertRequest.id === selectedAlertRequest.id};" data-ng-click="setSelected(alertRequest)">
                <td class="centered time" data-title="'Time'" sortable="'time'">
                    {{alertRequest.time | date:'HH:mm'}}
                </td>
                <td class='requests' data-title="'Request'">
                    {{alertRequest.abbrevRequests}}
                </td>
                <td class='alerts' data-title="'Alert'" sortable="'alert'" filter='{"alert": "text"}'>
                    {{alertRequest.alert}}
                </td>
            </tr>
        </tbody>
    </table>    
</div>