<nav class="navbar-default" role="navigation">
    <ul class="fixed-center-left slide-show nav navbar-nav nav-pills nav-stacked" ng-show="isVisible()">
        <!-- NOTE: the tooltips cause the visualisation to slightly "dance" :) -->
        <li class="disabled" data-tooltip-placement="right" data-tooltip="Exercise Master Data">
            <a><span class="glyphicon glyphicon-cog"></span></a>
        </li>
        <li ng-class="{active: location.path().indexOf('/exercise/capture') === 0}" 
            data-tooltip-placement="right" 
            data-tooltip="Exercise Capture">
            <a href="#/exercise/capture"><span class="glyphicon glyphicon-pencil"></span></a>
        </li>
        <li ng-class="{active: location.path().indexOf('/exercise/debriefing') === 0}"
            ng-mouseenter="showDebriefing = true"
            ng-mouseleave="showDebriefing = false">
<!--            data-tooltip-placement="right" 
            data-tooltip="Exercise Debriefing">-->
            <a href="#/exercise/debriefing"><span class="glyphicon glyphicon-stats"></span></a>
            <nav class="navbar-default">
                <ul class="fixed-center-left-sub nav navbar-nav nav-pills nav-stacked"
                    ng-show="showDebriefing"
                    ng-mouseenter="showDebriefing = true"
                    ng-mouseleave="showDebriefing = false">
                    <!-- NOTE: the tooltips cause the visualisation to slightly "dance" :) -->
                    <li>
                        <a><span class="glyphicon glyphicon-cog"></span></a>
                    </li>
                    <li>
                        <a href="#/exercise/capture"><span class="glyphicon glyphicon-pencil"></span></a>
                    </li>
                    <li>
                        <a href="#/exercise/debriefing"><span class="glyphicon glyphicon-stats"></span></a>
                    </li>
                    <li>
                        <a><span class="glyphicon glyphicon-play-circle"></span></a>
                    </li>
                </ul>
            </nav>
        </li>
        <li class="disabled" data-tooltip-placement="right" data-tooltip="Exercise Simulation">
            <a><span class="glyphicon glyphicon-play-circle"></span></a>
        </li>
    </ul>
</nav>