<header>
    <div class="navbar navbar-fixed-top headersettings" role="navigation">
        <div class="container-fluid">
            <span class="pull-left">
                <a href="http://www.crismaproject.eu/"><img src="img/eu_crisma_logo.png" class="logo crisma-logo"></a>
            </span>
            <span class="btn-group">
                <button type="button" 
                        class="btn btn-primary" 
                        ng-repeat="value in radioModel.values" 
                        ng-model="radioModel.selected" 
                        btn-radio="value.route">{{value.displayName}}</button>
            </span>
            <span class="pull-right">
                <a href="http://www.drk.de/"><img src="img/DRK_Logo2.svg" class="logo drk-logo"></a>
            </span>
        </div>
    </div>
</header>