<div id="master-patient-widget">
    <table data-ng-table="tableParams" template-pagination="masterPatientDirectiveTablePager" show-filter="true" class="table ng-table-responsive">
        <tbody>
            <tr data-ng-repeat="patient in $data" 
                class="hoverrow ng-class:{'rowselected': patient.id === selectedPatient.id};"
                data-ng-click="setSelected(patient)"
                ng-mouseenter="hovering = true"
                ng-mouseleave="hovering = false">
                <td data-title="'ID'" sortable="'id'">
                    {{patient.id}}
                </td>
                <td data-title="'Name'" sortable="'name'" filter="{'name': 'text'}">
                    {{patient.name}}
                </td>
                <td data-title="'Correct'" sortable="'correctTriage'" class="centered">
                    <span class="triage ng-class:{'T1': patient.correctTriage === 'T1', 'T2': patient.correctTriage === 'T2', 'T3': patient.correctTriage === 'T3'};">
                        {{patient.correctTriage}}
                    </span>
                </td>
                <td data-title="'Pre-Triage'" sortable="'preTriage.classification'" class="centered">
                    <span class="triage ng-class:{'T1': patient.preTriage.classification === 'T1', 'T2': patient.preTriage.classification === 'T2', 'T3': patient.preTriage.classification === 'T3'};">
                        {{patient.preTriage.classification}}
                    </span>
                </td>
                <td data-title="'Triage'" sortable="'triage.classification'" class="centered">
                    <span class="triage ng-class:{'T1': patient.triage.classification === 'T1', 'T2': patient.triage.classification === 'T2', 'T3': patient.triage.classification === 'T3'};">
                        {{patient.triage.classification}}
                    </span>
                </td>
                <td data-title="'Care Measures'" class="centered">
                    {{patient.ratedMeasuresCount}} / {{maxCareMeasures(patient)}}
                </td>
                <td data-title="'Evacuated'" sortable="'transportation_timestamp'" class="centered">
                    {{patient.transportation_timestamp | date:'HH:mm'}}
                    <button type='button' 
                            class='btn btn-xs btn-link pull-right'
                            style="position: absolute; right: 20px;"
                            ng-show="hovering && editing"
                            ng-click="removePatient(patient)">
                        <span class="glyphicon glyphicon-remove-circle"></span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>    
</div>