<div class="modal-header">
    <h3>New exercise</h3>
</div>
<div class="modal-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3">
                <span style="height: 34px; display: table-cell; vertical-align: middle;">Exercise name:</span>
            </div>
            <div class="col-lg-9">
                <input ng-model="model.exerciseName" class="form-control">
            </div>
        </div>
        <div class="row margintop10">
            <div class="col-lg-3">
                <span style="height: 34px; display: table-cell; vertical-align: middle;">Exercise description:</span>
            </div>
            <div class="col-lg-9">
                <textarea class="form-control" rows="8" ng-model='model.exerciseDesc'></textarea>
            </div>
        </div>
        <div class="row margintop10">
            <div class="col-lg-3">
                <span style="height: 34px; display: table-cell; vertical-align: middle;">Incident time:</span>
            </div>
            <div class="col-lg-9">
                <form name="timepickerIncidentForm" class="form-inline timepicker pull-right" role="form">
                    <div class="form-group" ng-class="{'has-error': timepickerIncidentForm.date.$invalid}">
                        <input 
                            class="form-control dateinput"
                            size="11"
                            ng-model="model.incidentTime" 
                            placeholder="Date"
                            name="date"
                            bs-datepicker 
                            type="text">
                        <span class='glyphicon glyphicon-calendar input-icon datefix'></span>
                    </div>
                    <div class="form-group" ng-class="{'has-error': timepickerIncidentForm.time.$invalid}">
                        <input
                            ng-disabled="timepickerIncidentForm.date.$invalid"
                            class="form-control timeinput"
                            size="5"
                            ng-model="model.incidentTime"
                            placeholder="Time"
                            name="time"
                            bs-timepicker 
                            type="text">
                        <span class='glyphicon glyphicon-time input-icon timefix'></span>
                    </div>
                </form>
            </div>
        </div>
        <div class="row margintop10">
            <div class="col-lg-8">
                <span style="height: 34px; display: table-cell; vertical-align: middle;">Arrival time of first vehicle (reference time):</span>
            </div>
            <div class="col-lg-4">
                <form name="timepickerIncidentForm" class="form-inline timepicker pull-right" role="form">
                    <div class="form-group" ng-class="{'has-error': timepickerReferenceForm.time.$invalid}">
                        <input
                            ng-disabled="timepickerReferenceForm.date.$invalid"
                            class="form-control timeinput"
                            size="5"
                            ng-model="model.referenceTime"
                            placeholder="Time"
                            name="time"
                            bs-timepicker 
                            type="text">
                        <span class='glyphicon glyphicon-time input-icon timefix'></span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary"
            ng-click="ok()" 
            ng-disabled="timepickerIncidentForm.date.$invalid || timepickerIncidentForm.time.$invalid">
        OK
    </button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
